@{
    ViewBag.Title = "PlayTogether";
    
}


<br />
<div class="row">
    <div class="col-md-8">
       @Html.Action("SlidePartial","Home")
    </div>
    <div class="col-md-4">
        <img src="https://gamek.mediacdn.vn/133514250583805952/2023/5/25/vcs-se-2-1685034716082242629075.png" class="img-responsive" alt="" />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">SE đã chia tay cả HLV Ren (phải) và Slayder dù đây là <br />
            những trụ cột vô cùng quan trọng ở Mùa Xuân 2023 &raquo;</a></p>
    </div>
</div>
<div>
    <img class="img-responsive" src="~/HinhanhSP/lmht-msi-2023-jdg-vo-dich.jpg"<br /> 
    <div>
    Chung kết tổng MSI 2023: JDG vô địch, Ruler hoàn thành bộ sưu tập danh hiệu quý giá | ONE Esports Vietnam  Truy cập
                                                                                   Người tạo: Colin Young-Wolff
                                                                                   |
                                                                                   Tác giả: Colin Young-Wolff
                                                                                 
    </div>
</div>
<br />
<div class="spnoibat">
    <div class="row">

        <h3> Người chơi được thuê nhiều trong tuần qua</h3>
        <div class="col-md-4">
            <img src="~/HinhanhSP/Long.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/HinhanhSP/Lisa.png" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/HinhanhSP/Jisoo.png" class="img-responsive" alt="" />
        </div>
    </div>
</div>
@*<div class="danhmuc">
    @Html.Action("DanhmucPartial", "Danhmuc");
</div>*@
<div class="dt">

    @Html.Action("dtiphonePartial", "Sanpham");
</div>
<div class="dt">

    @Html.Action("dtsamsungpartial", "Sanpham");
</div>

<div class="dt">

    @Html.Action("dtxiaomipartial", "Sanpham");
</div>

<div class="row">
    <h2> Tin tức ngoài lề</h2>
    <div class="col-md-8">
        Video
    </div>
    <div class="col-md-4">
        Tin tức
    </div>
</div>

